<div class="container-article" [class]="article.isOnSales ? 'container-article' : 'container-article-noStock'">
  <img src="{{article.imageUrl}}" alt="image">

  <div class="container-info">
    <p class="name">{{ article.name }}</p>
    <p [ngClass] = "{'not-on-sale': !article.isOnSales}">{{ article.price }} €</p>
  </div>

  <div class="container-buttons" *ngIf="article.isOnSales">
    <button (click) = "subtractQuantity()" 
    [disabled] ="isSubtractDisabled" 
    [class.disabled-button] ="isSubtractDisabled">-</button>
    <p>{{ article.quantityInChart }}</p>
    <button (click) = "addQuantity()">+</button>
  </div>
</div>
